body{
    background-color: #000000;
    font-family: sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 35px;
    margin: 0px;
    overflow: auto;
}

#container li{
    margin-bottom: 10px;
}